body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: #373341;
    background-image: url(../img/login.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } 

   
  .login-box {
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,.7);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 5rem;
  }

  #login-2 fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -30px;
    left: 0;
    color: #c891f3;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #c891f3;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    text-align: center;
  }
  
  .login-box a:hover {
    background: #9B4FD5;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #c891f3,
                0 0 25px #c891f3;
    cursor: pointer;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }

  
  @media (min-width: 1200px) {
    .footer-login {
      height: 35.5vh;
      display: flex;      
    }
    .footer-container {
      width: 100%;
      margin-top: 5rem;
    }

    .footer-col-1 p {
      font-size: 1.5rem;
    }

    .footer-col-2 p {
      font-size: 4rem;
    }

    .social-icons a {
      width: 110px;
      height: 110px;
  }

    .social-icons li a i{
      font-size: 4rem;
    }
    
  }

  @media (min-width: 768px) {
    .footer-login {
      height: 43.5vh;
      display: flex;      
    }

    .footer-container {
      width: 100%;
      margin-top: 5rem;
    }

    .footer-col-1 p span {
      font-size: 3rem;
    }

    .footer-col-2 p {
      padding-top: 1.8rem;
      font-size: 3rem;
    }
    
  }